{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block css %}
body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
body .edit{
    margin-left: 80%;
}


{% endblock %}
{% block body %}


<div class="container emp-profile" style="margin-top: 100px;">
    <div class="col-md-2 edit">
    <button id="edit123" class="profile-edit-btn" name="btnAddMore" onclick="myfunction()" >Edit it</button>
    </div>
    <form method="POST">{% csrf_token %}

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                    <div class="file btn btn-lg btn-primary">
 <!--                        Change Photo
                        <input type="file" name="file"> -->
                        <label for="img">Select image</label>
                        <input type="file" id="img" name="img" accept="image/*">
                        <input type="submit">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                               {{profile.username}}
                            </h5>
                            <h6>
                                Web Developer and Designer
                            </h6>
                            <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-2">

            </div> -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p >SKILLS</p>
                    {% if profile.skills %}
                    {% for skill in profile.skills %}
                    <a href="" class='editable' contentEditable="true">{{skill}}</a><br/>
                    {% endfor %}
                    {% endif %}
                    <p style="font-size: large;">Select Your Skills</p>
                    {% for item in skills %}
                    {% if item.0 in profile.skills%}
                    {% else %}
                    <div class="checkbox">
                    <label><input id='input{{forloop.counter}}' name="input{{forloop.counter}}" value="{{item.0}}" type="checkbox" >{{item.0}}</label>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p >{{user.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class='editable' contentEditable="true">{{user.first_name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label >Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class='editable' contentEditable="true">{{user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class='editable' contentEditable="true">Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        {% if profile.phone %}
                                        <p class='editable' contentEditable="true">{{profile.phone}}</p>
                                        {% else %}
                                        <p class='editable' contentEditable="true">None</p>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class='editable' contentEditable="true">Web Developer and Designer</p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        {% if profile.experience %}
                                        <p class='editable' contentEditable="true">{{profile.experience}} years</p>
                                        {% else %}
                                        <p class='editable' contentEditable="true">None</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        {% if profile.totalProject %}
                                        <p class='editable' contentEditable="true">{{profile.totalProject}}</p>
                                        {% else %}
                                        <p class='editable' contentEditable="true">None</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        {% if profile.english %}
                                        <p class='editable' contentEditable="true">{{profile.english}}</p>
                                        {% else %}
                                        <p class='editable' contentEditable="true">None</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        {% if profile.availability %}
                                        <p id='editable' contentEditable="true">{{profile.availability}}</p>
                                        {% else %}
                                        <p id='editable' contentEditable="true">None</p>
                                        {% endif %}
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p id='editable1' contentEditable="true">Your detail description</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <button onclick="myFunction()">click to see image</button>
                <img id="image1" src=""><br>
                <input type="file"  class="image1" name="myfile"> -->
            </div>

            <button type="submit" id="submitbut" class="btn btn-danger edit " style="opacity: 0;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
<script>
function myfunction() {
  document.getElementById("editable").contentEditable = false;
  document.getElementById("submitbut").style.opacity=1

}
// function myFunction(){

//     document.getElementById("image1").src="{{ profile.image.url }}"
// }
// $(document).ready(function(){
//   $("#edit123").click(function(){
//     $('#editable').change(function(){
//         $(this).attr('contentEditable');
//         console.log(this);
//     });
//   });
// });
</script>
{% endblock %}